apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
  namespace: app-template
type: Opaque
stringData:
  DATABASE_URL: "postgresql://postgres:secretpassword@postgres-service:5432/app_template_db?schema=public"
  REDIS_URL: "redis://redis-service:6379"
  BETTER_AUTH_SECRET: "super-secret-key-change-in-production-min-32-chars"
  SMTP_PASS: "re_123456789"
